.footer{
    padding: 25px 0;

    @media(max-width:767px){
        text-align: center;
    }

    .container{
        @media(min-width:768px){
            display: flex;
            justify-content: space-between;
        }
    }
    .list__socials{
        @media(max-width:767px){
            margin-top: 20px;
        }
    }
}