h2{
    font: 300 212px/1.15 var(--second-family);
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 50px;
    letter-spacing: 8.48px;

    .section-offers &{
        font-size: 150px;
        line-height:173px;
        margin-bottom: 100px;
        letter-spacing: 0;
        text-align: left;

        @media(max-width:1930px) and (min-width:768px){
        font-size: 100px;
        line-height: 113px;
        }

        @media(max-width:1280px){
            text-align: center;
        }

        @media(max-width:768px){
            font-size: 47px;
            line-height: 60px;
            margin-bottom: 40px;
        }
    }

    .section-contact &{
        font-size: 155px;
        line-height:179px;
        letter-spacing: 0;
        text-align: left;
        color: var(--grey);

        @media(max-width:1280px){
        text-align: center;
        }

        @media(max-width:1930px) and (min-width:768px){
            font-size: 100px;
            line-height: 113px;
            }

        @media(max-width:768px){
            font-size: 47px;
            line-height: 60px;
            margin-bottom: 40px;
        }
    }

    .section-clients &{
        @media(max-width:768px){
            font-size: 47px;
            line-height: 60px;
            margin-bottom: 40px;
        }
    }
}
h3{
    font: 400 44px/48px var(--font4);
    text-transform: uppercase;
    margin: 0 0 10px; 
    
    @media(max-width:767px){
        font-size: 25px;
        line-height: 28px;
    }

    .section-contact &{
        font: 400 64px/79px var(--font3);
        margin-bottom: 30px;

        @media(max-width:767px){
            font-size: 25px;
            line-height: 28px;
        }
    }

}
