.section-contact{
    margin-top: 50px;
    padding: 100px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    p{
        margin-bottom: 30px;
    }

    .container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 40px;

        @media(max-width:1280px){
            display: block;
            text-align: center;
        }
    }

}
