.section-clients{
    margin-top: 100px;
    padding: 50px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);

    &__list{
    list-style: none;

    @media(min-width:1000px){
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr)); 
    }

    &__title{
        font: 800 40px/44px var(--font7) ;
        color:var(--grey);
        margin-bottom: 30px;

        @media(max-width:1440px){
            font-size: 25px;
            line-height: 28px;
        }
    }
    }

    &__item{
        padding: 40px 0;
        border-top: 1px solid var(--black);

        &:first-child{
            border: 0;
        }


        @media(min-width:1000px){
            border-left: 1px solid var(--black);
            border-top: 1px solid var(--black);
            padding: 30px;
            box-sizing: border-box;

            &:nth-child(3n+1){
                border-left: 0;
            }

            &:nth-child(-n+3){
                border-top:0;
            }
        }

    }

    &__logo{
        display: block;
        margin-bottom: 30px;
    }

    p{
        margin-bottom: 30px;
    }

    &__author{
        display: flex;

        &__img{
            display: block;
            border-radius: 50%;
            margin-right:20px;
        }

        &__text{
            display: flex;
            flex-direction: column;
        }
    }
}