.logos{
    border-bottom: 2px solid#c2c2c2;
    border-top: 2px solid #c2c2c2;
    margin-top: 60px;
    padding: 70px 0;
    justify-content: center;
    text-align: center;
    gap: 20px;
    align-items: center;
    list-style: none;
    display: flex;
    flex-wrap: wrap;    
}

.logos__img{
    background-color: #fff;
    padding: 15px;
    border-radius: 40px;
}